@mixin grayscale{
    filter: grayscale(100%);
}

@mixin hue-rotate{
    filter: hue-rotate(150deg)
}

.card-img-top{
    @include grayscale;
}

.card-img-top:hover{
    filter: grayscale(0%);
    transition-duration: 1s
}

@each $spray in montreal-spray, kenia-spray{
    ##{$spray}{
        filter: grayscale(0%);
        @include hue-rotate;
    }

    ##{$spray}:hover{
        filter: hue-rotate(0deg);
    }
}